$breakpoints: ('small', 'medium', 'tablet', 'large', 'xlarge');

.wp-block-columns {
    .page-content & {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
            display: flex;
            flex-wrap: wrap;
            margin: -8px;

            > .block-list-appender {
                width: 100%;
            }
            > .wp-block {
                margin: 8px;
                width: calc(50% - 16px);
            }
        }
    }
}

.wp-block-column {
    // display: flex;
    // flex-direction: column;
    .page-content & {
        margin: 8px;

        @each $breakpoint in $breakpoints {
            @include breakpoint(#{$breakpoint}) {
                @for $i from 1 through 12 {
                    &.columns-#{$breakpoint}-#{$i} {
                        width: calc((#{$i} * 1% / 12 * 100) - 16px);
                    }
                }
            }
        }
    }

    > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
            > .block-list-appender:not(:only-child) {
                display: none;
            }
        }
    }

    // .wp-block {
    //     &-grid, &-group, &-cover {
    //         @include margin-x(0);
    //     }
    // }
}