.wp-block-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;

    &.has-background-dim {
        &::before {
            content: "";
        }
    }

    &__inner-container {
        width: 100%;
    }
}