.page-content {
    .wp-block {
        &-grid, &-cover, &-group {
            @include margin-x(auto);
            max-width: $default-width;
    
            &.alignwide {
                max-width: $wide-width;
            }
            &.alignfull {
                max-width: 100%;
            }
        }
    }
}

.has-text-align-center {
    text-align: center;
}
.has-text-align-left {
    text-align: left;
}
.has-text-align-right {
    text-align: right;
}

// using important states with the assumption that we always want
// editor styles to overwrite theme styles
@each $name, $colour in $editor-colours {
    .has-#{$name}-color {
        color: $colour!important;
    }
    .has-#{$name}-background-color {
        background-color: $colour!important;
    }
}

@each $name, $gradient in $editor-gradients {
    .has-#{$name}-gradient-background {
        background-image: $gradient!important;
    }
}