$breakpoints: ('small', 'medium', 'tablet', 'large', 'xlarge');

.wp-block-grid {
    .page-content & {
        display: grid;
        grid-gap: 15px;
    }

    @each $breakpoint in $breakpoints {
        @include breakpoint(#{$breakpoint}) {
            @for $i from 1 through 4 {
                &.columns-#{$breakpoint}-#{$i} {
                    &, .block-editor-block-list__layout {
                        grid-template-columns: repeat($i, 1fr);
                    }
                }
            }
        }
    }

    > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
            display: grid;
            grid-gap: 30px;

            > * {
                display: flex;
                flex-direction: column;
                @include margin-x(0);
            }
        }
    }
}

.wp-block-grid-item {
    display: flex;
    flex-direction: column;

    @each $breakpoint in $breakpoints {
        @include breakpoint(#{$breakpoint}) {
            @for $i from 1 through 4 {
                &.columns-#{$breakpoint}-#{$i} {
                    grid-column-start: span $i;
                }
            }
        }
    }

    .block-list-appender:not(:only-child) {
        display: none;
    }

    .wp-block {
        &-grid, &-group, &-cover {
            @include margin-x(0);
        }
    }
}