.wp-block-swiper {
    > .swiper-wrapper {
        > .block-editor-inner-blocks {
            box-sizing: border-box;
            width: 100%;
            > .block-editor-block-list__layout {
                > .wp-block {
                    max-width: none;
                }
            }
        }
    }
}

.wp-block-swiper-slide {
    > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
            > .block-list-appender:not(:only-child) {
                display: none;
            }
        }
    }
}