.wp-block-grid {
    &.is-style-link-tiles {
        .wp-block-grid-item {
            .wp-block-cover {
                height: 300px;

                @include breakpoint(large) {
                    height: 500px;
                }

                .wp-block-cover__inner-container {
                    position: relative;
                    height: 100%;
                    padding-top: 20px;


                    @include breakpoint(large) {
                        padding-top: 40px;
                    }
    
                    > p {
                        height: 100%;
                        font-size: rem(18);
                        font-weight: 800;

                        @include breakpoint(tablet) {
                            font-size: rem(36);
                        }
    
                        a {
                            display: block;
                            height: 100%;
    
                            &:hover {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    background-color: $primary;
                                    opacity: 0.55;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.is-style-our-people {
        .wp-block-image {
            figcaption {
                font-weight: 700;
                margin-top: 15px;
            }
        }
        p {
            font-size: rem(16);
            font-weight: 400;
            margin-top: 5px;
        }
    }
}