.wp-block-group {
    .page-content & {
        // map
        iframe {
            width: 100%;
            height: 300px;
            max-height: calc(100vh - #{$navbar-height});

            @include breakpoint(tablet) {
                height: 600px;
            }
        }
    }
}