.wp-block-latest-posts {
    li {
        list-style: none;
    }
    
    &.is-style-3-post {
        display: grid;
        grid-gap: 15px;

        @include breakpoint(tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        .wp-block-latest-posts__featured-image {
            margin-bottom: 15px;
            
            img {
                object-fit: cover;
                width: 100%;
                height: 230px;

                @include breakpoint(xlarge) {
                    height: 320px;
                }
            }
        }

        a {
            font-size: rem(18);
            font-weight: 700;
            // at request. might need to come back
            text-decoration: none;
        }

        .wp-block-latest-posts__post-excerpt {
            font-size: rem(16);
            font-weight: 400;
            margin-top: 5px;
        }


        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        // > li {
        //     margin-bottom: 20px;
        //     > div {
        //         &:first-child {
        //             height: 230px;
        //             margin-bottom: 20px; 
        //         }                
        //         &:last-child {
        //             margin-top: 10px;
        //         }
        //         > img {
        //             width: 100%;
        //             object-fit: cover;
        //         }

        //     }
            
        //     @include breakpoint(tablet){
        //         flex: 1;
        //         margin-bottom: 0;
        //         &:not(:last-child){
        //             margin-right: 20px;
        //         }
        //     }
        // }
    }
}