// Swiper arrow variables
$width: 40px;
$height: $width;
$border-size: 2px; 
$bottom: 20px;
$top: auto;
$left: auto;
$padding-x: 30px;
$prev-right: calc(#{$padding-x} + #{$width} - #{$border-size});

.wp-block-swiper {
    // hero
    &.is-style-hero {
        height: 45vh;
        max-height: 750px;

        @media(orientation: landscape) {
            height: calc(100vh - #{$navbar-height});
        }

        h1, h2 {
            @include margin-x(auto);
            max-width: 860px;
        }

        h3 {
            margin-top: 30px;

            @include breakpoint(large) {
                margin-top: 80px;
            }
        }

        .swiper-button-prev {
            bottom: $bottom;
            top: $top;
            right: $prev-right;
            left: $left;
            border: solid $border-size;
            color: $primary;
            width: $width;
            height: $height;
            
            &::after {
                @extend .fas;
                @extend %fa-icon;
                content: fa-content($fa-var-arrow-left);
                font-size: 25px;
            }
        }
        .swiper-button-next {
            bottom: $bottom;
            top: $top;
            right: $padding-x;
            left: $left;
            border: solid $border-size;
            color: $primary;
            width: $width;
            height: $height;
            
            &::after {
                @extend .fas;
                @extend %fa-icon;
                content: fa-content($fa-var-arrow-right);
                font-size: 25px;
            }
        }

        .wp-block-cover {
            padding: $group-padding-x;
        }
    }

    // default
    &.is-style-default {
        height: 300px;
        max-height: calc(100vh - #{$navbar-height});

        @include breakpoint(tablet) {
            height: 620px;
        }

        .swiper-button-prev {
            border: solid $border-size;
            color: $white;
            width: $width;
            height: $height;
            
            &::after {
                @extend .fas;
                @extend %fa-icon;
                content: fa-content($fa-var-arrow-left);
                font-size: 25px;
            }
        }
        .swiper-button-next {
            border: solid $border-size;
            color: $white;
            width: $width;
            height: $height;
            
            &::after {
                @extend .fas;
                @extend %fa-icon;
                content: fa-content($fa-var-arrow-right);
                font-size: 25px;
            }
        }

        figure {
            &, img {
                height: 100%;
            }
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}