.contact-heading {
    margin-bottom: 30px;
}
.contact.form {
    .page-content & {
        .form-row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &-item {
                margin-bottom: 20px;
                @include breakpoint(medium) {
                    flex: 1;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
                input {
                    width: 100%;
                    border: none;
                    font-size: rem(18);
                    font-weight: 800;
                    padding: 10px;
                    &, &::placeholder {
                        color: $primary;
                    }
                }
            }
        }
    }
}