@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-ExtraBold.eot');
    src: url('Axiforma-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-ExtraBold.woff2') format('woff2'),
        url('Axiforma-ExtraBold.woff') format('woff'),
        url('Axiforma-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Bold.eot');
    src: url('Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Bold.woff2') format('woff2'),
        url('Axiforma-Bold.woff') format('woff'),
        url('Axiforma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Medium.eot');
    src: url('Axiforma-Medium.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Medium.woff2') format('woff2'),
        url('Axiforma-Medium.woff') format('woff'),
        url('Axiforma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Book.eot');
    src: url('Axiforma-Book.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Book.woff2') format('woff2'),
        url('Axiforma-Book.woff') format('woff'),
        url('Axiforma-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

