$footer-padding-y: 60px;

.footer{
    width: 100%;
    &-inner {
        position: relative;
        width: $default-width;
        max-width: 100%;
        padding: $footer-padding-y $group-padding-x;
        margin: auto;
        &-row {
            display: flex;
            @include margin-y(20px);
        }
    }
    &-input {
        flex: 1;
        padding-left: 10px;
        margin-right: 10px;
        border: solid 1px $primary;

        &, &::placeholder {
            color: $primary;
            font-size: rem(18);
            font-weight: 800;
        }

        @include breakpoint(tablet) {
            flex: none;
            width: 50%;
        }
    }
    &-submit {
        width: 80px;
    }
    &-text {
        font-size: rem(16);
        font-weight: 400;

        > p {
            margin-bottom: 10px;
        }
    }
    &-social {
        display: flex;
        margin-top: 15px;

        @include breakpoint(medium) {
            position: absolute;
            top: $footer-padding-y;
            right: $group-padding-x;
            margin-top: 0;
        }
        
        a {
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        
        i {
            color: white;
            background-color: $primary;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint(tablet) {
                width: 40px;
                height: 40px;
            }

            &:hover {
                color: $primary;
                background-color: $white;
                transition: .3s;
            }
        }
    }
}