@function columns($number, $maxColumns: 12) {
    @return $number / $maxColumns * 100%;
}

@function letter-spacing($px) {
    @return $px * 1em / 1000;
}

@function rem($px) {
    @return $px * 1rem / 16;
}