body {
    margin-top: $navbar-height;
}

.wp-block-video {
    &, video {
        width: 100%;
    }
    video {
        // remember to change to contain after they play the video
        object-fit: cover;
        max-height: calc(100vh - #{$navbar-height});
    }
}

.wp-block-columns {
    .wp-block-column:first-child {
        h3 {
            @include breakpoint(medium) {
                margin-right: 30px;
            }
            @include breakpoint(xlarge) {
                margin-left: 80px;
            }
        }
    }

    h3 {
        margin-bottom: 15px;

        @include breakpoint(xlarge) {
            margin-bottom: 80px;
        }
    }
}

.btn, .wp-block-button {
    width: 250px;
    background-color: #00567F;
    color: white;
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: rem(18);
    font-weight: 800;
    &:hover {
        color: $primary;
        background-color: $white;
        transition:.3s;
    }
}

.wp-block-button {
    @include padding-x(10px);
    width: auto;

    &__link {
        text-decoration: none;
    }
}

p:not(:last-child) {
    margin-bottom: 15px;
}

.wp-block-image {
    img {
        width: 100%;
    }
}