.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 100;

    &-inner {
        display: flex;
        align-items: center;
        height: $navbar-height;
        
        &-right {
            display: flex;
            margin-left: auto;
        }
    }

    &-logo {
        font-size: rem(18);
        font-weight: 800;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 15px;

        @include breakpoint(medium) {
            position: absolute;
            left: 50%;
            text-decoration: none;
            transform: translateX(-50%);
            margin-left: 0;
        }
        @include breakpoint(tablet) {
            font-size: rem(24);
        }
    }

    &-link {
        font-size: rem(18);
        font-weight: 800;

        @include breakpoint(tablet) {
            font-size: rem(24);
        }
    }

    .hamburger {
        display: flex;
        @include padding-x(15px);

        @include breakpoint(medium) {
            @include padding-x(30px);
        }
        @include breakpoint(tablet) {
            @include padding-x(40px);
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        img {
            width: 25px;
        }
    }

    .nav {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $white;
        box-shadow: 0px 0px 5px 2px rgba(#000, 0.2);
        opacity: 0;
        pointer-events: none;
        text-decoration: none;
        padding-top: $navbar-height + 20px;
        width: calc(100% - #{$group-padding-x});
        max-width: 470px;
        height: 100%;
        z-index: 1000;
        transition: opacity 0.2s;

        @include breakpoint(medium) {
            align-items: center;
            padding-top: 0;
            width: 66.667%;
        }
        @include breakpoint(tablet) {
            align-items: flex-start;
            padding-top: $navbar-height + 20px;
        }
        @include breakpoint(xlarge) {
            width: 33.333%;
        }

        body.nav-is-open & {
            opacity: 1;
            pointer-events: all;
        }

        &-menu {
            .menu-item {
                font-size: rem(26);
                font-weight: 800;

                @include breakpoint(tablet) {
                    font-size: rem(36);
                }

                a {
                    text-decoration: none;
                }

                &.current-menu-item, & a:hover {
                    color: $pink;
                    transition: all 0.2s;
                }
            }
        }
    }
}