body {
    color: $body-colour;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: 500;
    line-height: $body-line-height;

    @include breakpoint(tablet) {
        // font-size: rem(24);
        font-size: rem(18);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}
h1 {
    font-size: rem(40);

    @include breakpoint(tablet) {
        font-size: rem(90);
    }
}
h2 {
    font-size: rem(32);

    @include breakpoint(tablet) {
        font-size: rem(70);
    }
}
h3 {
    font-size: rem(18);

    @include breakpoint(tablet) {
        font-size: rem(36);
    }
}
// h3 {
//     font-size: rem(20);
//     text-transform: capitalize;
//     @include breakpoint(tablet){
//         font-size: rem(36);
//     }

// }
// h4 {
//     font-size: rem(18);
//     @include breakpoint(tablet) {
//         font-size: rem(24);
//     }
// }

a {
    display: inline-block;
    text-decoration: underline;
}