// Navbar
$navbar-height: 80px;

// colours
$white: #FFF;
$primary: #00567F;
$pink: #E8CBCC;
$blue: #CBD8E1;
$green: #D0D4C4;

$body-colour: $primary;

$editor-colours: (
    'white': $white,
    'primary': $primary,
    'pink': $pink,
    'blue': $blue,
    'green': $green,
);

// gradients
$white-to-pink: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(232, 203, 204, 1) 50%, rgba(232, 203, 204, 1) 100%);
$white-to-blue: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(203, 216, 225, 1) 50%, rgba(203, 216, 225, 1) 100%);
$white-to-green: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(208, 212, 196, 1) 50%, rgba(208, 212, 196, 1) 100%);
$pink-to-white: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(232, 203, 204, 1) 50%, rgba(232, 203, 204, 1) 100%);
$blue-to-white: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(203, 216, 225, 1) 50%, rgba(203, 216, 225, 1) 100%);
$green-to-white: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(208, 212, 196, 1) 50%, rgba(208, 212, 196, 1) 100%);

$editor-gradients: (
    'white-to-pink': $white-to-pink,
    'white-to-blue': $white-to-blue,
    'white-to-green': $white-to-green,
    'pink-to-white': $pink-to-white,
    'blue-to-white': $blue-to-white,
    'green-to-white': $green-to-white,
);

// fonts
$body-font-family: 'Axiforma', sans-serif;
$body-font-size: 14px;

// layout
$group-padding-x: var(--group-padding-x);
$default-width: calc(1000px + #{$group-padding-x} * 2);
$wide-width: calc(1200px + #{$group-padding-x} * 2);

// other
$body-line-height: 1.4;

// CSS variables //
:root {
    --group-padding-x: 20px;

    @include breakpoint(tablet) {
        --group-padding-x: 30px;
    }
    @include breakpoint(large) {
        --group-padding-x: 40px;
    }
}