@import 'settings';

@import '../../node_modules/swiper/css/swiper';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'placeholders';
@import 'functions';

@import 'type';
@import 'gutenberg/imports';

.editor-post-title {
    color: #000;
}

.wp-block {
    &-cover, &-group, &-column, &-grid-item, &-swiper-slide {
        &:not(:focus) {
            border: 3px dashed $primary;
        }
    }
}